<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/loading.css">
    <title>Watermellon</title>
</head>
<body>
    <div class="container-fluid father">
        <div class="container-fluid">
                <div class="container">
                    <img src="/mellonlogo.png" alt="" class="img-fluid">
                    
            </div>
            <div class="container header">
                <h1>Support Gaza by hiring Gazan </h1> 
            </div>
            <div class="container">
                <h3>Comming soon <img src="/bouncing-circles.svg" alt=""></h3>
            </div>
            
        </div>
    </div>
</body>
</html>